/*  zombie */

@cell-size: 10px;
@filed-size: @cell-size * 30;
@human-color: #060;


.field {
  position: relative;
  width: @filed-size;
  height: @filed-size;
}

.battle-field {
  width: @filed-size;
  height: @filed-size;
  background-color: #ccc;
}

.human {
  position: absolute;
  width: @cell-size;
  height: @cell-size;
  color: @human-color;
}
/* end zombie*/