/*  zombie */
.field {
  position: relative;
  width: 300px;
  height: 300px;
}
.battle-field {
  width: 300px;
  height: 300px;
  background-color: #ccc;
}
.human {
  position: absolute;
  width: 10px;
  height: 10px;
  color: #006600;
}
/* end zombie*/