<!doctype html>
<html lang="en" ng-app="zombieWorld">
<head>
    <meta charset="UTF-8">
    <title>Zombie</title>

    <link rel="stylesheet" href="css/zombie.css"/>

    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/jquery-1.10.2.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/zombie-controllers.js"></script>
</head>
<body>
    <div ng-controller="ZombieGameController">

        <button class="new-game" id="new-game" ng-click="newGame()">New game</button>

        <div class="field" id="field">
            <canvas id="ballte-field" class="battle-field">

            </canvas>
        </div>
        <p class="game-version">
            {{game.version}}
        </p>
    </div>
</body>
</html>
